html,
body {
  height: 100%;
}
body {
  margin: 0%;
  display: flex;
  background-color: #F6F6F6;
  font-family: AvenirNext-Regular, helvetica;
}
.main {
  background-color: #F6F6F6;
  flex: 1;
}
.header {
  /* MainHeader: */
  position: fixed;
  z-index: 10000;
  background: #FF3365;
  background-image: linear-gradient(-134deg, rgba(255, 50, 101, 0.5) 22%, rgba(156, 3, 41, 0.5) 100%);
  width: 100%;
  padding: 4% 0%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  height: 56px;
}
.header .logo {
  color: #FFFFFF;
  font-size: 1.2em;
  border-radius: 16px;
  margin-left: 6%;
}
.header .logo img {
  width: 140%;
}
.header .menu img {
  width: 14%;
  float: right;
}
#welcomeHomeScreen {
  position: fixed;
  z-index: 10000;
  background: #FF3365;
  background-image: linear-gradient(-134deg, rgba(255, 50, 101, 0.5) 22%, rgba(156, 3, 41, 0.5) 100%);
  height: 100%;
  width: 100%;
  flex: 1;
  text-align: center;
}
#welcomeHomeScreen #welcomeHomeLogo img {
  width: 50%;
  margin: 0 auto;
}
#menuTableContent {
  position: fixed;
  z-index: 9999;
  display: none;
  width: 70%;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
}
#menuTableContent ul {
  padding: 0%;
  margin: 0%;
}
#menuTableContent ul li {
  margin: 4%;
  padding: 2% 0%;
}
#menuTableContent ul li:first {
  margin: 0%;
}
#dashBoardIconContainer {
  text-align: center;
}
#dashBoardIconContainer img {
  width: 74%;
  clear: both;
}
#dashBoardIconContainer label {
  /* Novo código Vip: */
  font-family: AvenirNext-Regular, helvetica;
  font-weight: 200;
  color: #585858;
  font-size: 0.9em;
}
#dashBoardIconContainer #newVipCodeIcon,
#dashBoardIconContainer #validateVipCodeIcon,
#dashBoardIconContainer reportsVipCodeIcon,
#dashBoardIconContainer configurationVipCodeIcon,
#dashBoardIconContainer menuTable {
  cursor: pointer;
}
/*
	this class defines the card structure
*/
.card {
  background-color: #FFFFFF;
  margin: 18%;
  padding: 4% 8%;
  border-radius: 8px;
  margin: 4% auto;
  border: solid 1px #EBEBEB;
  overflow: hidden;
  font-weight: 200;
}
.card .notificationCard {
  text-align: center;
}
/*
	this class define the style of close btn in cards
*/
.closeCard {
  color: #FD96B0;
  float: right;
  border: none;
  background: none;
  font-size: 1.4em;
  font-weight: 100;
}
.closeCard:focus {
  outline: none;
}
/*
	This class define the login card
*/
#login-card {
  width: 80%;
  background: none;
  border: solid 1px #FFC1D1;
}
/*
	this class define Success notification cards
*/
#successNotificationCard {
  display: none;
  background: #E7FFEB;
  border: 1px solid #88E696;
  text-align: center;
  color: #585858;
}
/*
	this class define Fail notification cards
*/
#failNotificationCard {
  display: none;
  background: #FFE7E7;
  border: 1px solid #E68888;
  text-align: center;
  color: #585858;
}
#newVipCodeBtnCard {
  display: none;
  text-align: center;
}
#createNewVipCodeFormCard {
  display: none;
}
#recomendVipCodeToFriendsCard {
  display: none;
}
.notificationCard {
  color: #585858;
}
.notificationCard img {
  width: 20%;
  margin: 4% 0%;
}
#standardReportCard {
  display: none;
}
.standardReportCard {
  padding: 0%;
}
.standardReportCard .standardReportCardHeader {
  text-align: center;
  padding: 4% 8%;
  width: 100%;
  background-color: #99FFA8;
  color: #383838;
}
.standardReportCard #numberOfVipCodesIndications {
  width: 138px;
  border: solid 2px #92EFA0;
  border-radius: 100px;
  margin: 0 auto;
}
.standardReportCard #numberOfVipCodesIndications .number {
  font-size: 4em;
}
.standardReportCard .standardReportCardBody {
  text-align: center;
  padding: 4% 8%;
}
#basicReportCard {
  background-color: #FFFFFF;
  margin: 18%;
  padding: 4% 8%;
  border-radius: 8px;
  margin: 4% auto;
  border: solid 1px #EBEBEB;
  overflow: hidden;
  font-weight: 200;
  display: none;
  background: linear-gradient(-135deg, #414148 0%, #232329 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
#basicReportCard .notificationCard {
  text-align: center;
}
#formLoad {
  display: none;
}
#reportContainer {
  display: none;
}
#reportContainer span {
  color: #ffffff;
  font-size: 0.8em;
}
#reportContainer label {
  color: #ffffff;
  font-size: 2em;
}
#reportContainer .singleKPIReportCard {
  height: 100%;
  background: linear-gradient(-135deg, #414148 0%, #232329 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}
#validateVipCodeCard {
  display: none;
}
.validateVipCodeCard {
  background: #D7E6F7;
  border: 1px solid #8EBAEF;
}
#newEnterpriseCard {
  display: none;
}
#configurationCard {
  display: none;
}
.btnBase {
  font-size: 1em;
  color: #FFFFFF;
  background: #4590E8;
  border-radius: 8px;
  border: none;
  padding: 4% 8%;
}
.btnBase:focus {
  background-color: #397AC6;
  border: 4px solid #DDE9F8;
  outline: none;
}
.btnRose {
  font-size: 1em;
  color: #FFFFFF;
  background: #4590E8;
  border-radius: 8px;
  border: none;
  padding: 4% 8%;
  background: #E68888;
}
.btnRose:focus {
  background-color: #397AC6;
  border: 4px solid #DDE9F8;
  outline: none;
}
.btnRose:focus {
  background-color: #FFC1D1;
  border: 4px solid #E68888;
}
.formTitle {
  color: #A5A5A5;
}
.formTitle input[type='submit'] {
  margin: 0 auto;
}
.textInputInvisible {
  background: #FFFFFF;
  border: 1px solid #A4C7F0;
  border-radius: 8px;
  padding: 2%;
  margin: 6% 0%;
  overflow: visible;
}
.textInputInvisible input[type='text'] {
  border: none;
  width: 80%;
}
.textInputInvisible input[type='text']:focus {
  outline: none;
}
.textInputInvisible input[type='password'] {
  border: none;
  width: 80%;
}
.textInputInvisible input[type='password']:focus {
  outline: none;
}
.textInputInvisible input[type='number'] {
  border: none;
  width: 80%;
}
.textInputInvisible input[type='number']:focus {
  outline: none;
}
