
body {
	margin: 0%;
	//overflow: hidden; 
	background-color: #F6F6F6; 
	font-family: AvenirNext-Regular, helvetica;
}

.main {
	background-color: #F6F6F6;
}

.img {
	//width: 100%;
}

.header {
	/* MainHeader: */
	background: #FF3365;
	background-image: linear-gradient(-134deg, rgba(255,50,101,0.50) 22%, rgba(156,3,41,0.50) 100%);
	width: 100%;
	padding: 5% 0%;
	//text-align: center;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
	height: 56px;
}

.logo {
	color: #FFFFFF;
	font-size: 1.2em;
	//border: solid 1px #FFFFFF;
	border-radius: 16px;
	//padding: 2%;
	width: 30%;
	margin-left: 6%;
}

.card {
	background-color: #FFFFFF;
	//width: 74%;
	margin: 18%;
	padding: 4% 8%;
	border-radius: 8px;
	margin: 4% auto;
	border: solid 1px #EBEBEB;
	overflow: hidden;
	font-weight: 200;
	
	.notificationCard {
		text-align: center;
	}
}

.closeCard {
	color: #FD96B0;
	float: right;
	border: none;
	background: none;
	font-size: 1.4em;
	font-weight: 100;
	
	&:focus {
			outline: none;
		}
}

////////////////////////////////////////////////////////
/// 				dashBoard						///
///////////////////////////////////////////////////////

//dashBoardIcon
#dashBoardIconContainer {
	text-align: center;
	img {
		width: 74%;
		clear: both;
	}
	label {
		/* Novo código Vip: */
		font-family: AvenirNext-Regular, helvetica;
		font-weight: 200;
		color: #585858;
		font-size: 0.9em;
		//color: #A5A5A5;
	}
}


////////////////////////////////////////////////////////
/// 				Cards							///
///////////////////////////////////////////////////////

#successNotificationCard {
	background: #E7FFEB;
	border: 1px solid #88E696;
	text-align: center;
	color: #585858;

}

#failNotificationCard {
	background: #FFE7E7;
	border: 1px solid #E68888;
	text-align: center;
	color: #585858;
}

#newVipCodeBtnCard {
	text-align: center;
	/* Novo VipCode: */
}

.notificationCard {
	img {
		width: 20%;
		margin: 4% 0%;
	}
	color: #585858;
}

.standardReportCard {
	padding: 0%;
	.standardReportCardHeader {
		text-align: center;
		padding: 4% 8%; 
		width: 100%;
		background-color: #99FFA8;
		color:#383838;
	}
	
	#numberOfVipCodesIndications {
		width: 138px;
		border: solid 2px #92EFA0;
		border-radius: 100px;
		margin: 0 auto;
		
		.number {
			font-size: 4em;
		}
		
		.label {
			
		}
		
	}
	
	.standardReportCardBody {
		text-align: center;
		padding: 4% 8%;
	}
}

////////////////////////////////////////////////////////
/// 				Buttons							///
///////////////////////////////////////////////////////
.btn {
	
	
}

.btnBase {
	//font-family: AvenirNext;
	font-size: 1em;
	color: #FFFFFF;
	background: #4590E8;
	border-radius: 8px;
	border: none;
	padding: 4% 8%;
	
}

.btnBase:focus {
	background-color: #397AC6; 
	border: 4px solid #DDE9F8;
	outline: none;
}


////////////////////////////////////////////////////////
/// 				Forms							///
///////////////////////////////////////////////////////

.formTitle {
	color: #A5A5A5;
	
	input[type='submit'] {
		margin: 0 auto;
	}
}
.textInputInvisible {
	background: #FFFFFF;
	border: 1px solid #A4C7F0;
	border-radius: 8px;
	padding: 2%;
	margin: 6% 0%;
	overflow: visible;
	
	input[type='text'] {
		border: none;
		width: 80%;
		//float: right;
		
		
		&:focus {
			outline: none;
		}
	}
	
	
}



