body {
  margin: 0%;
  overflow: hidden;
  background-color: #F6F6F6;
}
.header {
  /* MainHeader: */
  background: #FF3365;
  background-image: linear-gradient(-134deg, rgba(255, 50, 101, 0.5) 22%, rgba(156, 3, 41, 0.5) 100%);
  width: 100%;
  padding: 5% 0%;
  text-align: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.logo {
  color: #FFFFFF;
  border: solid 1px #FFFFFF;
  border-radius: 16px;
  padding: 2%;
  width: 30%;
  margin: 0 auto;
}
.card {
  background-color: #FFFFFF;
  width: 74%;
  margin: 18%;
  padding: 4% 8%;
  border-radius: 8px;
  margin: 4% auto;
  border: solid 1px #EBEBEB;
  overflow: hidden;
}
